@using FitPeak.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
        var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column"
        style="background-color: #f7f7f9; height:87.5vh; width: 10rem; position: absolute; top: 6rem;  ">
        <li class="nav-item" style="width: 10rem;"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)"
                        id="profile" asp-page="./Index">Profile</a></li>
        <li class="nav-item" style="width: 10rem;"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)"
                        id="email" asp-page="./Email">Email</a></li>
        <li class="nav-item" style="width: 10rem;"><a
                        class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password"
                        asp-page="./ChangePassword">Password</a></li>
</ul>
