@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-image: url('../images/background2.jpg');  background-size: cover; background-repeat: no-repeat;"
    ;>
    <h1 style="text-align: center; color: black; margin-top:18%; font-size:4rem;">Welcome to FitPeak</h1>
</body>
